<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto Fill</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script src="/static/js/script.js"></script>
</head>

<body>
    <section>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Forms
                </h1>
                <!--<h2 class="subtitle">
                    Easy authentication and authorization in Flask.
                </h2>
            -->
                <div class="column is-6 is-offset-3">
                    <h3 class="title">Введіть дані</h3>
                    <div class="box">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="notification is-danger">
                            {{ messages[0] }}.</a>.
                        </div>
                        {% endif %}
                        {% endwith %}
                        <form method="POST" action="/">
                            <div class="field">
                                <div class="control">
                                    <select class="input is-large" name="file">
                                        <option value="Згода на тимчасові поїздки за кордон">Згода на
                                            тимчасові
                                            поїздки за кордон</option>
                                    </select>
                                </div>
                            </div>
                            <h3 class="title">Опікун 1</h3>
                            <div class="field">
                                <div class="subtitle is-centered">
                                    <label class="radio">
                                        <input type="radio" name="gender_1" value="m">
                                        Чоловік
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="gender_1" value="f" checked>
                                        Жінка
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="surname_N1" id="surname_1N"
                                        onkeyup='myfunction(this.id)' placeholder="Прізвище" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="name_N1" id="name_1N"
                                        onkeyup='myfunction(this.id)' placeholder="Ім'я">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="fatherName_N1" id="fatherName_1N"
                                        onkeyup='myfunction(this.id)' placeholder="По-батькові">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="surname_R1" id="surname_1R"
                                        placeholder="Прізвище в родовому відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="name_R1" id="name_1R"
                                        placeholder="Ім'я в родовому відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="fatherName_R1" id="fatherName_1R"
                                        placeholder="По-батькові в родовому відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div><label class="subtitle">День народження</label></div>
                                <div class="select is-rounded">
                                    <select name="birthday_day1">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="birthday_month1">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="birthday_year1">
                                        {% for i in range(1922, 2101) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="passNum_1"
                                        placeholder="Номер паспорта">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="institution_1"
                                        placeholder="Ким виданий">
                                </div>
                            </div>

                            <div class="field">
                                <div><label class="subtitle">Дата видачі</label></div>
                                <div class="select is-rounded">
                                    <select name="passDate_day1">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="passDate_month1">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="passDate_year1">
                                        {% for i in range(1922, 2101) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="origin_1"
                                        placeholder="Де зареєстрований">
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------->
                            <h3 class="title">Опікун 2</h3>
                            <div class="field">
                                <div class="subtitle is-centered">
                                    <label class="radio">
                                        <input type="radio" name="gender_2" value="m">
                                        Чоловік
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="gender_2" value="f" checked>
                                        Жінка
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="surname_N2" id="surname_2N"
                                        onkeyup='myfunction(this.id)' placeholder="Прізвище">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="name_N2" id="name_2N"
                                        onkeyup='myfunction(this.id)' placeholder="Ім'я">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="fatherName_N2" id="fatherName_2N"
                                        onkeyup='myfunction(this.id)' placeholder="По-батькові">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="surname_R2" id="surname_2R"
                                        placeholder="Прізвище в родовому відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="name_R2" id="name_2R"
                                        placeholder="Ім'я в родовому відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="fatherName_R2" id="fatherName_2R"
                                        placeholder="По-батькові в родовому відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div><label class="subtitle">День народження</label></div>
                                <div class="select is-rounded">
                                    <select name="birthday_day2">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="birthday_month2">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="birthday_year2">
                                        {% for i in range(1922, 2101) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="passNum_2"
                                        placeholder="Номер паспорта">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="institution_2"
                                        placeholder="Ким виданий">
                                </div>
                            </div>

                            <div class="field">
                                <div><label class="subtitle">Дата видачі</label></div>
                                <div class="select is-rounded">
                                    <select name="passDate_day2">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="passDate_month2">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="passDate_year2">
                                        {% for i in range(1922, 2101) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="origin_2"
                                        placeholder="Де зареєстрований">
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------->
                            <h3 class="title">Дитина №1</h3>
                            <div class="field">
                                <div class="subtitle is-centered">
                                    <label class="radio">
                                        <input type="radio" name="gender_3" value="m">
                                        Чоловік
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="gender_3" value="f" checked>
                                        Жінка
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="kidSurname_R"
                                        placeholder="Прізвище в давальному відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="kidName_R"
                                        placeholder="Ім'я в давальному відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="kidFatherName_R"
                                        placeholder="По-батькові в давальному відмінку">
                                </div>
                            </div>
                            <div class="field">
                                <div><label class="subtitle">День народження</label></div>
                                <div class="select is-rounded">
                                    <select name="kidBirthday_day1">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="kidBirthday_month1">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="kidBirthday_year1">
                                        {% for i in range(1922, 2101) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="kidorigin_1"
                                        placeholder="Де зареєстрований">
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------->
                            <h3 class="title">Дитина №2</h3>
                            <div class="field">
                                <div class="subtitle is-centered">
                                    <label class="radio">
                                        <input type="radio" name="gender_4" value="m">
                                        Чоловік
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="gender_4" value="f" checked>
                                        Жінка
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="kidSurname_R2"
                                        placeholder="Прізвище в давальному відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="kidName_R2"
                                        placeholder="Ім'я в давальному відмінку">
                                </div>
                            </div>


                            <div class="field">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="text" name="kidFatherName_R2"
                                            placeholder="По-батькові в давальному відмінку">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div><label class="subtitle">День народження</label></div>
                                <div class="select is-rounded">
                                    <select name="kidBirthday_day2">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="kidBirthday_month2">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="kidBirthday_year2">
                                        {% for i in range(1922, 2101) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="kidorigin_2"
                                        placeholder="Де зареєстрований">
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------->
                            <h3 class="title">Супроводжувач</h3>
                            <div class="field">
                                <div class="subtitle is-centered">
                                    <label class="radio">
                                        <input type="radio" name="gender_5" value="m">
                                        Чоловік
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="gender_5" value="f" checked>
                                        Жінка
                                    </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="takerSurname_R"
                                        placeholder="Прізвище в родовому відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="takerName_R"
                                        placeholder="Ім'я в родовому відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="takerFatherName_R"
                                        placeholder="По-батькові в родовому відмінку">
                                </div>
                            </div>

                            <div class="field">
                                <div><label class="subtitle">День народження</label></div>
                                <div class="select is-rounded">
                                    <select name="takerBirthday_day1">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="takerBirthday_month1">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="takerBirthday_year1">
                                        {% for i in range(1922, 2101) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>



                            <!--------------------------------------------------------------------------->
                            <h3 class="title">Період подорожі. Починаючи з:</h3>
                            <div class="field">
                                <div class="select is-rounded">
                                    <select name="duration_day1">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="duration_month1">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="duration_year1">
                                        {% for i in range(2022, 2099) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <h3 class="title">Закінчуючи до:</h3>
                            <div class="field">
                                <div class="select is-rounded">
                                    <select name="duration_day2">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="duration_month2">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="duration_year2">
                                        {% for i in range(2022, 2099) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------->
                            <h3 class="title">Дата договору</h3>
                            <div class="field">
                                <div class="select is-rounded">
                                    <select name="time_day1">
                                        {% for i in range(1, 32) %}
                                        {%if i in smallNumbers %}
                                        <option value="0{{ i }}">0{{ i }}</option>
                                        {% else %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="time_month1">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="time_year1">
                                        {% for i in range(2022, 2099) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <h3 class="subtitle">Дата договору письмово</h3>
                            <div class="field">
                                <div class="select is-rounded">
                                    <select name="time_day2">
                                        {% for i in days %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="select is-rounded">
                                    <select name="time_month2">
                                        {% for i in months %}
                                        <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="fiel">
                                <div class="select is-rounded">
                                    <select name="time_year2">
                                        {% for i in years %}
                                        <option value="дві тисячі {{ i }}">дві тисячі {{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="field">
                                <button class="button is-block is-info is-large is-fullwidth">Надіслати</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>